matplotlib==3.7.1
mysql-connector-python==8.0.33
numpy==1.24.2
pandas==1.5.3
python-dateutil==2.8.2
python-multipart==0.0.6
PyYAML==6.0
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
sklearn==0.0.post5
SpeechRecognition==3.10.1
streamlit==1.25.0
tensorflow==2.14.0
transformers==4.31.0
xgboost==1.7.5
zipp==3.16.2
